
body{
    color: #ffff;
}
    #section1{
        margin: 10vh 90vh 10vh 3vh;
        
    }
    #section1 img{
        margin-top: 40px;
        margin-left: 11vh;
    }

    #section2
    {
        margin: 10vh 85vh 10vh 3vh;
    }
    
    
        
        
    
    .aside img
    {
        display: inline-block;
    }
