body{
    color: #ffff;
}

#trailer1{
    margin-left: 40px;
}
#trailer1 h2{
    margin-bottom: 10px;
}
#trailer2{
    margin-left: 40px;
    margin-top: 20px;
}
#trailer2 h2{
    margin-bottom: 10px;
}